# Jetbrains IDE files
.idea

# VSCode settings
.vscode

# Python runtime files
__pycache__

# Evironment files
.venv
.env

# Assets
assets/

# Certificates
key.pem
cert.pem

# Logs folder
logs/
backup.sql
Caddyfile
